body {
    // background-color: hsl(228, 33%, 97%);
    color: #2d2d2d;
    background: #1d1e22;
}

.hide {
    display: none;
}

.container {
    margin: 5rem auto;
    max-width: 750px;
    width: 100%;

    & > * + * {
        margin-top: 8px;
    }
}

.replies_container {
    position: relative;

    & > * + * {
        margin-top: 8px;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        border-left: 1px $cGrayVeryLight solid;
        height: 100%;
        border-radius: 5px;
        left: 5%;
    }
}

.comment {
    background-color: $cWhite;
    border-radius: 5px;
    padding: 22px;
    display: flex;
    gap: 20px;

    &.reply {
        width: 90%;
        margin-left: 10%;
    }

    sidebar {
        padding: 8px;
        background-color: $cGrayVeryLight;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        border-radius: 10px;

        .btn_like {
            border: none;
            cursor: pointer;
            padding: 2px 4px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            background-color: transparent;
            color: $cBlueLightGrayish;

            &:hover {
                color: $cBlueModerate;
            }
        }

        .comment_likes {
            color: $cBlueModerate;
            font-weight: 500;
        }
    }

    header {
        display: flex;
        justify-content: space-between;

        .header_left,
        .header_right {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .comment_username {
            // font-size: 1.1rem;
            font-weight: 500;
        }

        .comment_date {
            color: $cBlueGrayish;
        }

        .btn_reply {
            border: none;
            background-color: transparent;
            color: $cBlueModerate;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            padding: 5px 10px;

            &:hover {
                color: $cBlueLightGrayish;
            }

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    .comment_content {
        color: $cBlueGrayish;
        margin-top: 10px;

        .comment_reply {
            color: $cBlueModerate;
            font-weight: 500;
            padding-right: 5px;
        }
    }
}

.comment_image {
    width: 2rem;
    height: 2rem;

    * {
        width: 100%;
        height: 100%;
    }
}

.reply_to_comment {
    background-color: #fff;
    border-radius: 5px;
    padding: 22px;

    form {
        display: flex;
        gap: 15px;

        textarea {
            border-radius: 10px;
            border-color: $cBlueModerate;
            padding: 15px 20px;

            &:focus {
                outline: 1px $cBlueModerate solid;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $cGrayVeryLight;

    a {
        color: $cBlueModerate;

        &:hover {
            color: $cBlueLightGrayish;
        }
    }
}
