$font: 'Rubik', sans-serif;

$cBlueModerate: hsl(238, 40%, 52%);
$cBlueLightGrayish: hsl(239, 57%, 85%);
$cRedSolf: hsl(358, 79%, 66%);
$cRedPale: hsl(357, 100%, 86%);

$cBlueDark: hsl(212, 24%, 26%);
$cBlueGrayish: hsl(211, 10%, 45%);
$cGrayLight: hsl(223, 19%, 93%);
$cGrayVeryLight: #f5f6fa;
$cWhite: hsl(0, 0%, 100%);